doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="stylesheets/style.css")
    title アイワナ風
  body
    noscript You need to enable JavaScript to run this app.
    block content
